@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Travels;
  src: url(../assets/fonts/TT\ Travels\ Next\ Trial\ Thin.ttf);
  font-weight: 100;
}
@font-face {
  font-family: Travels;
  src: url(../assets/fonts/TT\ Travels\ Next\ Trial\ ExtraLight.ttf);
  font-weight: 200;
}
@font-face {
  font-family: Travels;
  src: url(../assets/fonts/TT\ Travels\ Next\ Trial\ Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: Travels;
  src: url(../assets/fonts/TT\ Travels\ Next\ Trial\ Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Travels;
  src: url(../assets/fonts/TT\ Travels\ Next\ Trial\ Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: Travels;
  src: url(../assets/fonts/TT\ Travels\ Next\ Trial\ DemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: Travels;
  src: url(../assets/fonts/TT\ Travels\ Next\ Trial\ Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: Travels;
  src: url(../assets/fonts/TT\ Travels\ Next\ Trial\ ExtraBold.ttf);
  font-weight: 800;
}
@font-face {
  font-family: Travels;
  src: url(../assets/fonts/TT\ Travels\ Next\ Trial\ Black.ttf);
  font-weight: 900;
}
@font-face {
  font-family: Outline;
  src: url(../assets/fonts/TT\ Travels\ Next\ Trial\ Black\ Outline.ttf);
}

@layer utilities {
  .mx-width {
    width: 94%;
    margin: 0 auto;
    overflow: hidden;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Travels;
  scroll-behavior: smooth;
}
